body{
    background-color:   #fdfff5;
    margin:0;
}
* {
    box-sizing: border-box;
    margin: 0;
  }


    .flex-container{
        display:flex;
        flex-direction:row;
    
    
      }

    .flex-item-right{ 
        margin:40px 40px;
        padding:40px;
        font-size:30px;
        justify-content: space-between;
        font-size: 20px;
    

    }
    .flex-item-left{
       
        border-right: 0.5px solid black;
        margin:20px 20px;
        text-align: left;
        padding:90px;
        font-size:25px;
        line-height: 1.8;
    }


img{
    margin:50px 50px;
 
    border-radius:50%;
    border:3px solid lightgray;
    width:40%;
    height:auto;

    
    
}
.imag{
    align-items: center;
}



a{
    text-decoration:none;
    color: black;
}
