* {
    box-sizing: border-box;
    font-family: "Muli";
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: rgb(220, 44, 44);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-size:20px;
  }
  

  nav {
    float: left;
    width: 20%;
    height: 900px; 
    background: #ccc;
    padding: 20px;
  }

  .content {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 900px; 
    background-image: url("./images/f1race.jpeg");
    color:white;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
  
  
  footer { 
    
    background-color: rgb(81, 80, 80);
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
  }
  @media (max-width: 600px) {
    nav, content ,footer, .bd-image {
      width: 100%;
      height: auto;
    }
  }

  li{
      font-size: 30px;
      display:flex;
      flex-direction:column;
      border:10px;
      margin:10px;
      padding:10px;
    
  }
  a{
       text-decoration: none;
       color:black;
  }
  h1{
    border:10px;
    margin:10px;
    padding:10px;
  }
 p{
    font-size: 20px;
    
    border:10px;
    margin:10px;
    padding:10px;
  
 }
  .sponsors{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      
     
  }
  img{
      width:150px;
      height:100px;
  }

  .footer-info{
      display:flex;
      flex-direction:row;
      border:10px;
      margin:10px;
      padding:10px;
      justify-content: space-evenly;
  }

  .bd-image1{
    float: left;
    padding: 20px;
    width: 80%;
    height: 900px; 
    background-image: url("./images/piloti1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    
  }

  .bd-image2{
    float: left;
    padding: 20px;
    width: 80%;
    height: 900px; 
    background-image: url("./images/echipe.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    
  }
  .bd-image3{
    float: left;
    padding: 20px;
    width: 80%;
    height: 900px; 
    background-image: url("./images/program.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
 
    
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(220, 44, 44);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #c31a1a;
  }
  
  .completare {
    border-radius: 5px;
    float: left;
    width: 80%;
    background-color: #f1f1f1;
   
    height: 900px; 
  
    padding: 20px;
  }